<html>
<head>
	<title>CamRec - Your camera recommender</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href='{% static "camrec/style.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "camrec/style.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "camrec/jquery-ui.css" %}'>
	<script type="text/javascript" src='{% static "camrec/scripts.js" %}'></script>
	<script type="text/javascript" src='{% static "camrec/jquery-2.0.0.js" %}'></script>
	<script type="text/javascript" src='{% static "camrec/jquery-ui.js" %}'></script>
  	<script type="text/javascript" src='{% static "camrec/jquery.jqplot.js" %}'></script>
  	<script type="text/javascript" src='{% static "camrec/jqplot.barRenderer.min.js" %}'></script>
  	<script type="text/javascript" src='{% static "camrec/jqplot.canvasTextRenderer.min.js" %}'></script>
  	<script type="text/javascript" src='{% static "camrec/jqplot.canvasAxisTickRenderer.min.js" %}'></script>
  	<script type="text/javascript" src='{% static "camrec/jqplot.categoryAxisRenderer.min.js" %}'></script>
  	<script type="text/javascript" src='{% static "camrec/jqplot.pointLabels.min.js" %}'></script>
</head>
<body>
	<div>
		<a href="/camrec/"><img src='{% static "camrec/CamRec.jpg" %}' alt="CamRec" border="0"/></a>
	</div>
	<div class="content">
	
		<div class="cat_heading">Genre: {{category}}</div>
		<p><a href="#" id="best_cameras" onclick="show_best_cameras();" style="font-weight:bold">Best cameras</a>&nbsp;&nbsp;&nbsp;&nbsp;|| &nbsp;&nbsp;&nbsp;
		   <a href="#" id="best_settings" onclick="show_best_settings();">Best settings</a>
		</p>
		
		<div id="camera_list" class="camera_list" style="display:none">
			{% if camera_list %}
				<ul>
				{% for item in camera_list %}
					<li>
						<span class="camera_item">{{ forloop.counter }}. {{item.camera}}</span>
						Amazon Price: <span class="cam_price">{{item.price}}</span>
						<br/>
						<div class="photos_row">
						{% for p in item.photos %}
							<span class="photo"><img src='{{p}}' border="0" width="200px"/></span>
						{% endfor %}
						</div>
					</li>
				{% endfor %}
				</ul>
			{% else %}
				<p>No cameras are found.</p>
			{% endif %}
		</div>	
		
		<div id="camera_settings">
			<div id="chart1" class="camera_settings_chart"></div>
			<div id="chart2" class="camera_settings_chart"></div>
			<div id="chart3" class="camera_settings_chart"></div>			
		</div>	
	</div>
	
    <script type="text/javascript">
      $(document).ready(function(){
          $.jqplot.config.enablePlugins = true;

		  var s1 = [35, 20, 145, 51, 151, 88, 99, 185, 75, 43];
		  var ticks = ['0.0 - 1.8', '2.0 - 2.5', '2.6 - 3.2', '3.3 - 3.8', '3.9 - 4.3', '4.5 - 5.0', '5.1 - 5.9', '6.3 - 9.0', '9.5 - 14.0', '16.0 - 38.0'];
		  
          plot1 = $.jqplot('chart3', [s1], {
              // Only animate if we're not using excanvas (not in IE 7 or IE 8)..
              animate: !$.jqplot.use_excanvas,
              seriesDefaults:{
                  renderer:$.jqplot.BarRenderer,
                  pointLabels: { show: true }
              },
              title: {
                  text: 'Distribution of Apertures',
                  fontFamily: 'Helvetica'
                  },
              axesDefaults: {
                  tickRenderer: $.jqplot.CanvasAxisTickRenderer ,
                  tickOptions: {
                      fontFamily: 'Georgia',
                      fontSize: '7pt',
                      angle: -30
                  },
                  labelOptions: {
                      fontFamily: 'Georgia',
                      fontSize: '7pt',
                  }
              },
              axes: {
                  xaxis: {
                      renderer: $.jqplot.CategoryAxisRenderer,
                      ticks: ticks
                  }
              },
              highlighter: { show: false }
          });
          
          $('#chart3').bind('jqplotDataClick',
			function (ev, seriesIndex, pointIndex, data) {
				$('#info1').html('series: '+seriesIndex+', point: '+pointIndex+', data: '+data);
			}
		   );
      })
    </script>

    <script type="text/javascript">
      $(document).ready(function(){
          $.jqplot.config.enablePlugins = true;
          var s1 = [30, 95, 197, 206, 137, 91, 34, 32, 31, 43];
          var ticks = ['1/8000 - 1/1588', '1/1500 - 1/640', '1/500 - 1/250', '1/200 - 1/100', '1/90 - 1/40', '1/35 - 1/13', '1/10 - 1/2', '3/5 - 3', '16/5 - 13', '15 - 210'];
          
          plot1 = $.jqplot('chart2', [s1], {
              // Only animate if we're not using excanvas (not in IE 7 or IE 8)..
              animate: !$.jqplot.use_excanvas,
              seriesDefaults:{
                  renderer:$.jqplot.BarRenderer,
                  pointLabels: { show: true }
              },
              title: 'Distribution of Exposures',
              axesDefaults: {
                  tickRenderer: $.jqplot.CanvasAxisTickRenderer ,
                  tickOptions: {
                      fontFamily: 'Georgia',
                      fontSize: '7pt',
                      angle: -30
                  },
                  labelOptions: {
                      fontFamily: 'Georgia',
                      fontSize: '7pt',
                  }
              },
              axes: {
                  xaxis: {
                      renderer: $.jqplot.CategoryAxisRenderer,
                      ticks: ticks
                  }
              },
              highlighter: { show: false }
          });
          
          $('#chart2').bind('jqplotDataClick',
			function (ev, seriesIndex, pointIndex, data) {
				$('#info1').html('series: '+seriesIndex+', point: '+pointIndex+', data: '+data);
			}
		   );
      })
    </script>

    <script type="text/javascript">
      $(document).ready(function(){
          $.jqplot.config.enablePlugins = true;
          var s1 = [93, 64, 70, 144, 102, 74, 101, 63, 75, 108];
          var ticks = ['0.0 mm - 7.2 mm', '7.3 mm - 10.6 mm', '10.8 mm - 15.0 mm', '15.6 mm - 21.0 mm', '21.5 mm - 28.3 mm', '28.8 mm - 44.0 mm', '45.0 mm - 60.0 mm', '62.0 mm - 86.0 mm', '88.8 mm - 145.0 mm', '150.0 mm - 700.0 mm'];
          
          plot1 = $.jqplot('chart1', [s1], {
              // Only animate if we're not using excanvas (not in IE 7 or IE 8)..
              animate: !$.jqplot.use_excanvas,
              seriesDefaults:{
                  renderer:$.jqplot.BarRenderer,
                  pointLabels: { show: true }
              },
              title: 'Distribution of Focal Lengths',
              axesDefaults: {
                  tickRenderer: $.jqplot.CanvasAxisTickRenderer ,
                  tickOptions: {
                      fontFamily: 'Georgia',
                      fontSize: '7pt',
                      angle: -30
                  },
                  labelOptions: {
                      fontFamily: 'Georgia',
                      fontSize: '7pt',
                  }
              },
              axes: {
                  xaxis: {
                      renderer: $.jqplot.CategoryAxisRenderer,
                      ticks: ticks
                  }
              },
              highlighter: { show: false }
          });
          
          $('#chart1').bind('jqplotDataClick',
			function (ev, seriesIndex, pointIndex, data) {
				$('#info1').html('series: '+seriesIndex+', point: '+pointIndex+', data: '+data);
			}
		   );
      })
    </script>
</body>
</html>

