<html>
<head>
	<title>CamRec - Your camera recommender</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href='{% static "camrec/style.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "camrec/jquery-ui.css" %}'>
	<script type="text/javascript" src='{% static "camrec/scripts.js" %}'></script>
	<script type="text/javascript" src='{% static "camrec/jquery-1.9.1.js" %}'></script>
	<script type="text/javascript" src='{% static "camrec/jquery-ui.js" %}'></script>
	
	<script>
	  $(function() {
		$(".slider").slider({
		  range: "min", min: 0, max: 100, value: 0,
		  slide: function(event, ui) {
			$(this).prev().val(ui.value);
		  }
		});
		$(".cat_slider_label").val($(".cat_slider_label").next().slider("value"));
	  });
	</script>
</head>
<body>
<form method="post">{% csrf_token %}
	<div>
		<a href="/camrec/"><img src='{% static "camrec/CamRec.jpg" %}' alt="CamRec" border="0"/></a>
	</div>
	<div class="content">		
		<div class="cat_list">
			<fieldset>
				<legend>Browse by genre</legend>
					{% if category_list %}
					<ul>
						<li><span class="cat_list_header_1">Genres</span>
							<span class="cat_list_header_2">Top 3 cameras</span></li>
						{% for item in category_list %}
						<li><img src='{% static "camrec/arrow-th.png" %}' border="0" width="16px" />
							<span class="cat_list_item"><a href="/camrec/category/{{item.category}}">{{item.category}}</a></span>
							{{item.cameras}}
						</li>
						{% endfor %}
					</ul>
					{% else %}
						<p>No categories are available.</p>
					{% endif %}				
			</fieldset>
		</div>
		
		<div class="weighted_cat_list">
			<fieldset>
				<legend>Pick your genre</legend>	
				<div class="weight_cat_div">			
					{% if category_list %}
						{% for item in category_list %}
						<div class="cat_slider">
							{{item.category}}: <input type="text" name="{{item.category}}_amount" class="cat_slider_label"/>
							<div id="{{item.category}}_slider" class="slider"></div>
						</div>	
						{% endfor %}	
					{% else %}
						<p>No categories are available.</p>	
					{% endif %}
					<input type="submit" value="Submit" class="weighted_cat_list_submitted"/>
				</div>
			</fieldset>
		</div>
	</div>
	<br/><br/><br/>
</form>
</body>
</html>



