body {
	width: 800px;
	font-size: 11pt;
	font-family: Arial;
	padding: 0px;
}

a:link, a:visited, a:hover, a:active {
	color:blue;
}

.content {
	padding: 10px 10px 10px 20px;
}

legend {
	font-family: Tahoma;
}

/* Index page */
.cat_list {
	width:500px;
	float:left;
/* 	border: 1px solid #111; */
}

.cat_list_header_1 {
	width:200px;
	padding-left:20px;
	color:0A5D8F;
	display: inline-block;
	font-family:Tahoma;
}

.cat_list_header_2 {
	width:400px;
	color:0A5D8F;
	font-family:Tahoma;
}

.cat_list li, .camera_list li {
	text-transform:capitalize;
	list-style-type: none;	
	padding-top:10px;	
	margin-left:-30px;
}

.cat_list li img, .camera_list li img {
	vertical-align:bottom;
}

.cat_list li img {
	padding-right:3px;
}

.cat_list .cat_list_item, .camera_list span {
	display: inline-block;
}

.cat_list span {
	width:100px;
}

.cat_slider {
	text-transform:capitalize;
	font-size:10pt;
	font-family:Arial;
	padding-bottom:8px;
}

.cat_slider input {
	vertical-align:baseline;
	padding-bottom:3px;
}

.cat_slider_label {
	border:0px;
	color:#f6931f;
	font-weight:bold;
	width:40px;
}

.slider {
	width:250px;
}

.weighted_cat_list {
	width:250px;
	float:right;
	padding-bottom:20px;
}

.weight_cat_div {
	padding:8px 10px 10px 10px;
}

.weighted_cat_list_submitted {
	background:#0A5D8F;
	color:#fff;
	border: 1px solid #333;
	width:100px;
	padding:2px;
	float:right;
}

/* Category page */
.cat_heading {
	font-family: Arial;
	font-size: 14pt;
	font-weight: bold;
	color: #0A5D8F;
	text-transform:capitalize;
}

.camera_list ul {
	margin-left: -20px;
}

.camera_list .camera_item {
	width:180px;
}

.camera_list .photos_row {
	padding-left:5px;
}

.camera_list .photo {
	margin:10px;
	padding:5px;
	border:1px solid #c3c3c3;
}

.camera_list .cam_price {
	color: orange;
}

.camera_settings_chart {
	height:400px; 
	width:600px;
}

.camera_settings_day_chart {
	//height:400px; 
	//width:500px;
}

.camera_settings_night_chart {
	//height:400px; 
	//width:500px;
}

